{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
</head>
<body>
  
</body>
</html>
    <div class="mainscreen">
    <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
      <div class="card">
        <div class="leftside">
          <img
            src="{% static 'img/logo/logo.png' %}"
            class="product"
            alt="Shoes"
          />
        </div>
        <div class="rightside">
          <form action="" method="POST">
            
            {% if product_data %}
            <h1>Product Name: {{product_data.product_name}}</h1>
            <h2>Price: {{product_data.product_price}} Ksh </h2>
            <!-- <h2>Quantity: {{ product_data }}</h2> -->
            {% if request.user.is_authenticated %}
              <p>
                Ready to fly? Place order and lift off!
              </p>
            {% endif %}
            <hr><br>
            <p>
              Location
            </p>
            <input type="text" class="inputbox" name="name" required />
            <p>Additional Notes?</p>
            <input type="number" class="inputbox" name="card_number" id="card_number" required />
            {% endif %}
            
            
            {% if shelf %}
            <h1>Product Name: {{shelf.product_name}}</h1>
            <h2>Price: {{shelf.product_price}} product_currency </h2>
            <!-- <h2>Quantity: {{ product_data }}</h2> -->
              {% if request.user.is_authenticated %}
                <p>
                  Ready to fly? Place order and lift off!
                </p>
              {% endif %}
            <hr><br>
            <p>
              Location...
            </p>
            <input type="text" class="inputbox" name="name" required />
            <p>Additional Notes?</p>
            <input type="number" class="inputbox" name="card_number" id="card_number" required />
            {% endif %}
<!-- 
            <p>Card Type</p>
            <select class="inputbox" name="card_type" id="card_type" required>
              <option value="">--Select a Card Type--</option>
              <option value="Visa">Visa</option>
              <option value="RuPay">RuPay</option>
              <option value="MasterCard">MasterCard</option>
            </select>
            <div class="expcvv">

              <p class="expcvv_text">Expiry</p>
              <input type="date" class="inputbox" name="exp_date" id="exp_date" required />

              <p class="expcvv_text2">CVV</p>
              <input type="password" class="inputbox" name="cvv" id="cvv" required />
            </div> -->
            <p></p>
            <button type="submit" class="button">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  
