{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

        <div class="nav" style="background-color: #000000;">
            <div class="container-fluid" style="height: {% if container_height %}{{ container_height }}px{% else %}100px{% endif %};">
                <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #000000;">
                    <a href="#" class="navbar-brand" style="font-family: 'Caveat', cursive; font-size: 26px;">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto" style="font-family: 'Caveat', cursive; font-size: 26px;">
                            <a href="index.html" class="nav-item nav-link">Home</a>
                            <a href="product-list.html" class="nav-item nav-link active">Products</a>
                            <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
                            <a href="cart.html" class="nav-item nav-link">Cart</a>
                            <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                        </div>
                        <div class="navbar-nav ml-auto" style="font-family: 'Caveat', cursive; font-size: 26px;">
                            <a href="#" class="nav-item nav-link">Contact</a>
                            <a href="#" class="nav-item nav-link">About</a>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <!--
                            <a href="#" class="nav-item nav-link">
                                <img src="{% static 'img/logo/1stlgo.png' %}" alt="Logo" style="height: 70px;">
                            </a>
                            -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
                <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'img/logo/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    
                    <!--Use Javascript for-->
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->  
        
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                                <input type="email" value="Search">
                                                <button><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-short">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item">Newest</a>
                                                        <a href="#" class="dropdown-item">Popular</a>
                                                        <a href="#" class="dropdown-item">Most sale</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="product-price-range">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        
                                                        <!--Generate from Database-->
                                                        <a href="#" class="dropdown-item">$0 to $50</a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <!--Individual Products-->
                            {% for item in product_data|slice:":5" %}
                            <div class="product-item" style="margin: 20px auto; display: flex; flex-direction: column; align-items: center; width: 80%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; box-sizing: border-box;">
                                <div class="product-details" style="text-align: center;">
                                    <h2>{{ item.product_name }}</h2>
                                    <p>{{ item.product_description }}</p>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image-container" style="width: 300px; height: 300px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                    <a href="{% url 'checkout' item.id %}">
                                        {% if item.product_image %}
                                            <img src="{{ item.product_image.url }}" alt="Product Image" style="width: auto; height: 100%; max-width: 100%; object-fit: contain;"> <!-- Ensure the image fits within the container while maintaining aspect ratio -->
                                        {% else %}
                                            <img src="{% static 'placeholder_image.jpg' %}" alt="Placeholder Image" style="width: auto; height: 100%; max-width: 100%; object-fit: contain;">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}

                            
                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar" style="background-color: whitesmoke;">
                        <div class="sidebar-widget category">
                            <h2 class="title">Available Categories</h2>
                            <nav class="navbar" style="background-color: #000000;">
                                <ul class="navbar-nav" >

                                    <!--Review-->
                                    {% for product in product_data %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'products' product.product_category %}"><i class="fa fa-female"></i> {{ product.product_name }} </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        
                        <!--Sliding Bar-->
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                {% for quality in quality_shelf %}
                                    <div class="product-item" style="margin: 20px auto; display: flex; flex-direction: column; align-items: center; width: 80%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; box-sizing: border-box;">
                                        <div class="product-title" style="text-align: center;">
                                            <a href="#">{{ quality.product_name }}</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image-container" style="width: 300px; height: 300px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                            <a href="{% url 'checkout' quality.id %}">
                                                {% if quality.product_image %}
                                                    <img src="{{ quality.product_image.url }}" alt="Product Image" style="width: auto; height: 100%; max-width: 100%; object-fit: contain;"> <!-- Ensure the image fits within the container while maintaining aspect ratio -->
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="product-action" style="margin-top: 10px; text-align: center;">
                                            <a href="#" style="margin-right: 10px;"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#" style="margin-right: 10px;"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="product-price" style="margin-top: 10px; text-align: center;">
                                            <h3><span>{{ quality.product_currency }}</span>{{ quality.product_price }}</h3>
                                            <a class="btn" href="{% url 'checkout' quality.id %}" style="margin-top: 10px;"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="sidebar-widget brands">
                            <h2 class="title">Products Offered</h2>
                            <!--Generate from database-->
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                
                            </ul>
                        </div>
                        
                        <!-- Make these Dynamic-->
                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        


        <!-- Brand Start -->
        <!--Modify to generate from Database-->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-2.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-3.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-4.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-5.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-6.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
        
        
        <!-- Footer End -->
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/slick/slick.min.js' %}"></script>
        
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
